!pip install langgraph langsmith
!pip install --upgrade pip
!pip install langchain_groq langchain_community

import os
from langchain_groq import ChatGroq
from typing import Annotated
from typing_extensions import TypedDict
from langgraph.graph import StateGraph, START, END
from langgraph.graph.message import add_messages
from IPython.display import Image, display